* text=auto !eol
action/editer_breve.php -text
action/instituer_breve.php -text
base/breves.php -text
/breves_administrations.php -text
/breves_autoriser.php -text
/breves_pipelines.php -text
formulaires/configurer_breves.html -text
formulaires/configurer_breves.php -text
formulaires/editer_breve.html -text
formulaires/editer_breve.php -text
inc/instituer_breve.php -text
lang/breves.xml -text
lang/breves_ar.php -text
lang/breves_ast.php -text
lang/breves_ay.php -text
lang/breves_bg.php -text
lang/breves_br.php -text
lang/breves_bs.php -text
lang/breves_ca.php -text
lang/breves_co.php -text
lang/breves_cpf.php -text
lang/breves_cpf_hat.php -text
lang/breves_cs.php -text
lang/breves_da.php -text
lang/breves_de.php -text
lang/breves_el.php -text
lang/breves_en.php -text
lang/breves_en_hx.php -text
lang/breves_eo.php -text
lang/breves_es.php -text
lang/breves_eu.php -text
lang/breves_fa.php -text
lang/breves_fon.php -text
lang/breves_fr.php -text
lang/breves_fr_tu.php -text
lang/breves_ft_tu.php -text
lang/breves_gl.php -text
lang/breves_grecgr.php -text
lang/breves_hac.php -text
lang/breves_he.php -text
lang/breves_hr.php -text
lang/breves_hu.php -text
lang/breves_id.php -text
lang/breves_is.php -text
lang/breves_isl.php -text
lang/breves_it.php -text
lang/breves_it_fem.php -text
lang/breves_ja.php -text
lang/breves_km.php -text
lang/breves_lb.php -text
lang/breves_lt.php -text
lang/breves_my.php -text
lang/breves_nb.php -text
lang/breves_nl.php -text
lang/breves_no.php -text
lang/breves_oc_auv.php -text
lang/breves_oc_gsc.php -text
lang/breves_oc_lms.php -text
lang/breves_oc_lnc.php -text
lang/breves_oc_ni.php -text
lang/breves_oc_ni_la.php -text
lang/breves_oc_prv.php -text
lang/breves_oc_va.php -text
lang/breves_pl.php -text
lang/breves_pt.php -text
lang/breves_pt_br.php -text
lang/breves_ro.php -text
lang/breves_ru.php -text
lang/breves_sk.php -text
lang/breves_ss.php -text
lang/breves_sv.php -text
lang/breves_tl.php -text
lang/breves_tr.php -text
lang/breves_tt.php -text
lang/breves_vi.php -text
lang/breves_zh.php -text
/plugin.xml -text
prive/objets/contenu/breve.html -text
prive/objets/infos/breve.html -text
prive/objets/infos/breve_fonctions.php -text
prive/objets/liste/breves.html -text
prive/squelettes/contenu/breve.html -text
prive/squelettes/contenu/breve_edit.html -text
prive/squelettes/contenu/breves.html -text
prive/squelettes/extra/breve.html -text
prive/squelettes/inclure/plan-breves.html -text
prive/squelettes/navigation/breve.html -text
prive/squelettes/navigation/breve_edit.html -text
prive/style_prive_plugin_breves.html -text
prive/themes/spip/images/breve-16.png -text
prive/themes/spip/images/breve-24.png -text
prive/themes/spip/images/breve-32.png -text
prive/themes/spip/images/breve-add-16.png -text
prive/themes/spip/images/breve-add-24.png -text
prive/themes/spip/images/breve-add-32.png -text
prive/themes/spip/images/breve-del-16.png -text
prive/themes/spip/images/breve-del-24.png -text
prive/themes/spip/images/breve-del-32.png -text
prive/themes/spip/images/breve-edit-16.png -text
prive/themes/spip/images/breve-edit-24.png -text
prive/themes/spip/images/breve-edit-32.png -text
prive/themes/spip/images/breve-new-16.png -text
prive/themes/spip/images/breve-new-24.png -text
prive/themes/spip/images/breve-new-32.png -text
prive/themes/spip2/images/breve-16.png -text
prive/themes/spip2/images/breve-24.png -text
prive/themes/spip2/images/breve-add-16.png -text
prive/themes/spip2/images/breve-add-24.png -text
prive/themes/spip2/images/breve-del-16.png -text
prive/themes/spip2/images/breve-del-24.png -text
prive/themes/spip2/images/breve-edit-16.png -text
prive/themes/spip2/images/breve-edit-24.png -text
prive/themes/spip2/images/breve-new-16.png -text
prive/themes/spip2/images/breve-new-24.png -text
